* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2C2F33;
}

li, button {
  font-family: arial;
  color: #FFFFFF;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px, 10%;
}

body {
  background-color: #2C2F33;
}

h1 {
  font-family: arial;
  color: #FFFFFF;
}

p {
  font-family: arial;
  color: #FFFFFF;
}

a {
  font-family: arial;
}

a:visited {
  font-family: arial;
  color: darkorchid
}
